h1,h2,h3,h4,h5,h6{ 
  font-family: 'Titillium Web','Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;
 }

p.super-lead{ 
  font-family: 'Titillium Web','Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.header {
  display: flex;
  align-items: center;
  font-family: 'Nunito';
  width: 100%;
  background-color: white;
  opacity: 0.5;
  height: 4em;
  position: fixed;
  cursor: pointer;
}
  .brand {
    font-size: 1.3em;
    padding-left: 1em;
  }

  .link {
    display: flex;
    list-style-type: none;
    flex: 1 auto;
    justify-content: flex-end;
    margin: 0;
    font-size: 1.3em;
  }
    li {
      padding-right: 1em;
}


body {
  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  background-size: 300% 300%;
  -webkit-animation: Background 25s ease infinite;
  -moz-animation: Background 25s ease infinite;
  animation: Background 25s ease infinite;
  width: 100vh;
  height:100vh;
  position:cover;
  overflow:hidden;
}

@-webkit-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.full-screen {
  position: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://i.imgur.com/wCG2csZ.png);
  background-size: cover;
  background-position: cover;
  width: 100vh;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  /* -webkit-flex-direction: column; */
  /* flex-direction: column; */
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.animatedTxt, h1 {
  width: 100%;
  height: 280px;
  background:transparent;
  font-family: 'Lato', Helvetica;
  font-weight: 100;
  top: 70px;
  position: absolute;
  width:100%;
  text-align: center;
  font-size: 3em;
  color: #fff;
  animation: fadeUpIn 3s;
  -webkit-animation: fadeUpIn 3s; /* Safari and Chrome */
}

@keyframes fadeUpIn /* Safari and Chrome */
{
  from { opacity:0; top:150px; }
  to { opacity:1; top: 70px; }
}

.btnContainer{
  height:100%;
   position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }


  .btn {
      margin-top: calc(50% + 25px);
      padding: 75px;
      position: relative;
      display: inline-block;
      width: 277px;
      height: 50px;
      font-size: 1em;
      font-weight: bold;
      line-height: 11.428571;
      text-align: center;
      text-transform: uppercase;
      background-color: transparent;
      cursor: pointer;
      text-decoration:none;
      font-family: 'Roboto', sans-serif;
      font-weight:900;
      font-size:17px;
      letter-spacing: 0.045em;
  }
  
  .btn svg {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 20%;
  }
  
  .btn svg rect {
      stroke: white;
      stroke-width: 4;
      stroke-dasharray: 353, 0;
      stroke-dashoffset: 0;
      -webkit-transition: all 600ms ease;
      transition: all 600ms ease;
  }
  
  .btn span{
    color: white;
    /* background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%); */
    /* background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%); */
    /* background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1) ; */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
  
  .btn:hover svg rect {
      stroke-width: 4;
      stroke-dasharray: 196, 543;
      stroke-dashoffset: 437;
  }

  .enter{
    margin-top: 25%;
  }