h1,h2,h3,h4,h5,h6{ 
  font-family: 'Titillium Web','Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;
 }

p.super-lead{ 
  font-family: 'Titillium Web','Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif; 
}



body {
  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  background-size: 300% 300%;
  -webkit-animation: Background 25s ease infinite;
  -moz-animation: Background 25s ease infinite;
  animation: Background 25s ease infinite;
  width: 100%;
  height:100%;
  position:cover;
  overflow:hidden; 
}

@-webkit-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.full-screen {
  position: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://i.imgur.com/wCG2csZ.png);
  background-size: cover;
  background-position: cover;
  width: 100vh;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  /* -webkit-flex-direction: column; */
  /* flex-direction: column; */
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.animatedTxt, h1 {
  width: 100%;
  height: 280px;
  background:transparent;
  font-family: 'Lato', Helvetica;
  font-weight: 100;
  top: 70px;
  position: absolute;
  width:100%;
  text-align: center;
  font-size: 3em;
  color: #fff;
  animation: fadeUpIn 3s;
  -webkit-animation: fadeUpIn 3s; /* Safari and Chrome */
}

@keyframes fadeUpIn /* Safari and Chrome */
{
  from { opacity:0; top:150px; }
  to { opacity:1; top: 70px; }
}

.btnContainer{
  height:100%;
   position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .btn {
    margin-top: calc(50% + 25px);
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}